body {
    background-image: url("../images/pexels-fwstudio-172277.jpg");
    background-size: cover;
    opacity: 0.9;
}

.main-cont {
    position: relative;
    top: 10%;
}

.card-body {
    height: 20%;
}

button {
    position: absolute;
    bottom: 0%;
    right: 0%;
}

.card img {
    cursor: pointer;
}